body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  size: 20px;
  color: aliceblue;
  background-color: rgb(43, 42, 41);
  text-align: center;
}

#home {
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: auto;
  text-align: center;
}

#home:hover {
  background-color: rgba(50, 50, 129, 0.668);
}

h1 {
  align-items: center;
  padding: auto;
  text-align: center;
}

#number {
  text-align: center;
  font-size: 40px;
}

#userInputs {
  text-align: center;
  padding: 5px;
  margin: 5px;
}