/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #000000;
    margin-top: 60px;
}

/* ---------- Nav Bar ---------- */
header {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1100;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* ---------- Content Section ---------- */
#hero {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    z-index: 1;
}

#background {
    position: relative;
    background: url('./Images/Background.jpg') no-repeat center center/cover;
    background-size: contain;
    z-index: 1;
    display: flex;
    min-height: 60vh;
    animation: flicker 2s infinite;
}

/* Flickering keyframes */
@keyframes flicker {
    0% {
        opacity: 0.85;
        transform: scale(1);
    }

    10% {
        opacity: 0.86;
    }

    20% {
        opacity: 0.87;

    }

    30% {
        opacity: 0.88;
    }

    40% {
        opacity: 0.89;
    }

    50% {
        opacity: 0.90;
    }

    60% {
        opacity: 0.92;
    }

    70% {
        opacity: 0.94;
    }

    80% {
        opacity: 0.96;
    }

    90% {
        opacity: 0.98;
    }

    100% {
        opacity: 1;
    }
}


/* ---------- Name ---------- */
#hero .overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 650px;
    background: rgba(0, 0, 0, 0.2);
    padding: 30px;
    color: white;
    z-index: 1000;
}

#hero h1 {
    font-size: 44px;
}

/* ---------- <a> colours ---------- */
a {
    color: dodgerblue;
}

/* ---------- Section Content ---------- */
#hero .content {
    position: fixed;
    top: 60px;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 650px;
    max-width: 650px;
    max-height: 90vh;
    color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Styles for Mobile Screens */
@media (max-width: 1180px) {
    #hero .overlay {
        top: 20px;
        left: 0px;
        max-width: 90%;
        text-align: left;
    }

    #hero::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    #hero .content {
        position: absolute;
        right: 0;
        left: auto;
        margin: 0;
        padding: 40px;
        max-width: 90%;
        height: auto;
        max-height: 80vh;
        overflow-y: auto;
    }

    #hero h1 {
        font-size: 28px;
    }
}

@media (max-width: 819px) {

    html,
    body {
        overflow-y: auto;
    }

    #hero::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    #hero .overlay {
        position: relative;
        top: -80px;
        left: 0;
        max-width: 90%;
        text-align: left;
    }

    #hero .content {
        position: relative;
        top: -60px;
        margin: 5px 0;
        max-width: 90%;
        padding: 20px;
        height: auto;
        max-height: auto;
        overflow-y: auto;
    }

    #hero h1 {
        font-size: 26px;
    }
}

/* for Very Small Screens */
@media (max-width: 480px) {

    html,
    body {
        overflow-y: auto;
    }

    #hero::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    #hero .overlay {
        position: relative;
        top: -100px;
        left: 0;
        max-width: 90%;
        text-align: left;
    }

    #hero .content {
        position: relative;
        top: -100px;
        margin: 5px 0;
        max-width: 90%;
        padding: 20px;
        height: auto;
        max-height: auto;
        overflow-y: visible;
    }

    #hero h1 {
        font-size: 26px;
    }
}