body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(43, 42, 41);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button {
  padding: 5px 5px;
  font-size: 20px;
  color: white;
  background-color: darkblue;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: rgba(50, 50, 129, 0.668);
}

#buttons {
  text-align: center;
  margin-top: 20px;
}

#output {
  color: azure;
  text-align: left;
  max-width: 600px;
  /* Limit maximum width to prevent disrupting centering */
  margin: 0 auto;
  /* Center horizontally */
  white-space: pre-line;
  /* Allow line breaks */
}

textarea {
  background-color: darkblue;
  text-align: center;
  color: antiquewhite;
}

#userInput {
  width: 300px;
  height: 100px;
}

#shift {
  width: 100px;
  height: 30px;
  margin: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group label {
  margin-bottom: 5px;
}